
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Exo 2';
}
:root{
    --color-principal:#f2d80c;
    --color-secundario:#18191F;
}
h1{
    font-size: 50px;
}
header{
    width: 100%;
    background-color: var(--color-principal);
    display: flex;
    padding: 20px 15px;
}

.menu-toggle{
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}

#logo {
    font-family: 'Caveat';
    font-size: 42px;
    padding-left: 50px;
    width: 50%;

}
#navegador{
    width: 50%;
}
#navegador ul {
    padding: 10px;
    display: flex;
}
#sitio{
    margin: 0 20px;
    list-style: none;
}
#sitio a{
    font-size: 18px;
    text-decoration: none;
    color: black;
}
.banner{
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
}
.texto{
    padding: 60px;
    position: relative;
    z-index: 1;
    top: 100px;
    left: 50%;
    text-align: center;
    width: 70%;
    height:650px;
}
.texto h1{
    font-size: 60px;
    line-height: 80px;
}
.texto p{
    font-size: 18px;
    line-height: 32px;
    color: var(--color-secundario);
    margin-top: 16px;
    margin-bottom: 50px;
}
.banner img {
    width: 900px;
    height: 600px;
    position: absolute;
    top: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.btn{
    background-color: var(--color-principal);
    color:  var(--color-secundario);
    width: 25px;
    padding: 15px 25px;
    border-radius:5px ;
    text-decoration: none;
    font-size: 20px;
}
main{
    margin: 10px 0px;
}
#tipos{
    text-align: center;
}
#tipos h1{
    margin-bottom: 40px;
    font-weight: bolder;
}
.tarjetas{
    margin: 20px 100px;
    display: flex;
}
.card{
    margin: 0px 10px;
    padding: 20px;
    border-radius: 15px;
    width: 35%;
    height: 570px;
    background-color:#D9D9D9 ;
    padding: 20px;
    font-size: 15px;
}
.card img{
    height: 160px;
    animation-name: movimiento;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
.card img:hover{
    animation-name: shake;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
.card h2{
    margin: 20px 5px 5px;
}
.card p{
    padding: 10px 20px;
}
#recomendaciones{
    position: relative;
    display: flex;
    margin: 20px 80px 0px;
}
.mapamundi{
    width: 100vw;
}
.mapamundi img{
    width: 70%;
    height: auto;
    object-fit: contain;
}
.circulo{
    top: 100px;
    width: 600px;
    height:500px;
    position: relative;
    border-radius: 640px;
    background-color: var(--color-principal);
    z-index: -1;
}
.text1{
    padding: 40px;
    margin-right:50px ;
    width: 70%;
}
.text1 p{
    font-size: 18px;
    line-height: 32px;
    color:  var(--color-secundario);
    margin-top: 30px;
    margin-bottom: 32px;
}
#recomendaciones img{
    top: 50px;
    right: 60px;
    width:500px;
    position: absolute;
}
footer{
    width: 100vw;
    bottom: 0;
    height: 150px;
    background-color: var(--color-principal);
}
.logotipo{
    text-align: center;
    padding: 10px;
}
#logo2{
    font-family: 'Caveat';
    font-size: 35px;
    margin: 0;
}
.logotipo img{
    width: 60px;
    margin: 0;
}
.logotipo img:hover{
    animation-name: shake;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
#lugares{
    text-align: center;
    margin-bottom: 100px;
}
#lugares h1{
    margin-bottom: 50px;
}
#lugares img{
    width: 75%;
    margin: 0px 0px 40px;
}
#lugares .lista {
    padding: 0px 200px;
    width: 100%;
    margin: auto;
    display: flex;
    text-align: justify;
}
#lugares .lista ul li{
    line-height: 28px;
    list-style: none;
    margin: 5px 20px;
}
#lugares .lista ul{
    width: 100%;
}
#creador{
    background-color: black;
    text-align: center;
    font-family: 'Caveat';
    padding: 10px;
    color: white;
    bottom: 0;
}
#informacion{
    padding: 30px 100px;
    position: relative;
    background: url(../img/seccion2.png);
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 80px;
}
#informacion h1{
    margin: 10px 0px 30px;
}
#informacion p{
    margin: 10px 0px 30px;
    line-height: 30px;
    font-size: 18px;
}
#especies{
    margin: 0px 100px 50px;
}
#especies h1{
    margin: 20px 0px 40px;
    text-align: center;
}
#especies img{
    width: 250px;
}
#especies p{
    margin: 10px 0px 50px;
    line-height: 30px;
    font-size: 18px;
}
#especie{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tarjeta p{
    text-align: center;
    width: 250px;
}

#formulario{
    margin: 3% 20%;
    text-align: center;
}

#formulario h1{
    margin: 10px 0px 40px;
}

.volver{
    font-weight: bolder;
    font-size: 30px;
    text-decoration: none;
    color: black;
}

form{
    text-align: justify;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contenedor{
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
}

.contenedor .caja{
    height: 40px;
    width: 80%;
    padding: 5px;
}

label{
    margin: 10px 0px 20px;
    font-size: 18px;
}
textarea{
    padding: 5px;
    width: 80%; 
}

.enviar{
    grid-column: span 2;
    width: 30%;
    border: 3px solid rgb(13, 13, 13);
    background-color: rgb(27, 26, 26);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    align-self: center;
    margin: 50px auto;
    font-size: large;
}

@keyframes movimiento{
    0%{
        transform: translate(0px, 0px);
    }
    50%{
        transform: translate(0px, 20px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}
@keyframes shake{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(5deg);
    }
    75%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@media screen and (max-width:900px) {

    .menu-toggle{
        display: block;
    }
    #navegador{
        display: none;
        position: absolute; 
    }
    #navegador ul{
        flex-direction: column;
        width: 100%;
        
    }
    header{
        flex-direction: row-reverse;
        justify-content: start;
        align-items: start;
        width: 100%;
        position: relative;
    }
    #navegador ul li{
        margin: 5%;
    }
    #navegador.active{
        display: flex;
        margin-top: 60px;
    }

    .activo{
        height: 60vh;
    }


    #logo{
        width: 30%;
    }
    #lugares .lista ul{
        padding: 0px 20px;
    }
    #especies{
        text-align: center;
    }
    .tarjetas{
        flex-direction: column;
    }
    .card{
        margin: 20px 0px;
        align-self: center;
        padding: 20px;
        border-radius: 15px;
        width: 70%;
        height: 570px;
        background-color:#D9D9D9 ;
        padding: 20px;
        font-size: 15px;
    }
    .tarjeta{
        margin: 0px 14px;
    }
    #informacion{
        text-align: center;
    }

    .banner{
        position: static;
        display: inline-block;
        width: 100vw;
    }
    .texto{
        padding: 50px 60px;
        position: static;
        text-align: center;
        width: 100%;
        height:430px;
    }
    .texto h1{
        font-size: 50px;
        line-height: 60px;
    }
    .texto p{
        font-size: 18px;
        line-height: 32px;
        color: #18191F;
        margin-top: 16px;
        margin-bottom: 50px;
    }
    .banner img {
        width: 100%;
        height: auto;
        position: static;
    }

    #lugares .lista {
        padding: 0px 10%;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align: justify;
    }
    #lugares .lista ul li{
        line-height: 28px;
        list-style: none;
        margin: 5px 20px;
    }
    #lugares .lista ul{
        width: 100%;
    }
    h1{
        font-size: 45px;
    }

    .circulo{
        top: 0px;
        width: 500px;
        height:500px;
        position:relative;
        border-radius: 640px;
        background-color: var(--color-principal);
        z-index: -1;
        margin-bottom: 50px;
        align-self: center;
    }
    .text1{
        padding: 40px 60px 10px;
        margin-right:50px ;
        width: 100%;
        text-align: center;
    }
    #recomendaciones img{
        right: 60px;
        width:500px;
        position:static;
    }
    #recomendaciones{
        position:static;
        display: flex;
        flex-direction: column;
        margin: 20px 80px 0px;
    }
}

@media screen and (max-width:700px){
    h1{
        font-size: 35px;
    }
    .texto h1{
        font-size: 40px;
        line-height: 50px;
    }
    .circulo{
        top: 0px;
        width: 350px;
        height:350px;
        position:relative;
        border-radius: 640px;
        background-color: var(--color-principal);
        z-index: -1;
        margin-bottom: 50px;
        align-self: center;
    }
    #recomendaciones img{
        right: 60px;
        width:350px;
        position:static;
    }
    .card img{
        height: 130px;
    }
    .card{
        margin: 20px 0px;
        align-self: center;
        padding: 20px;
        border-radius: 15px;
        width: 80%;
        height: 570px;
        background-color:#D9D9D9 ;
        padding: 20px;
        font-size: 15px;
    }
    #formulario{
        margin: 3% 10%;
    }
}

@media screen and (max-width:400px){
    h1{
        font-size: 25px;
    }
    .texto h1{
        font-size: 30px;
        line-height: 30px;
    }
    .circulo{
        top: 0px;
        width: 300px;
        height:300px;
        position:relative;
        border-radius: 640px;
        background-color: var(--color-principal);
        z-index: -1;
        margin-bottom: 50px;
        align-self: center;
    }
    #recomendaciones img{
        right: 60px;
        width:300px;
        position:static;
    }
    .card img{
        height: 100px;
    }
    .card{
        margin: 10px 0px;
        align-self: center;
        padding: 20px;
        border-radius: 15px;
        width: 100%;
        height: 570px;
        background-color:#D9D9D9 ;
        padding: 20px;
        font-size: 15px;
    }
    main{
        margin: 0;
    }
    .tarjetas{
        margin: 0px 40px;
    }
    #recomendaciones{
        margin: 20px 20px 0px;
    }
    #lugares{
        margin: 0px 10px 100px;
    }
    #especies{
        margin: 0px 50px 50px;
    }
    #especies img{
        width: 200px;
    }
    #informacion{
        padding: 30px 50px;
    }
    #formulario{
        margin: 3% 10%;
    }
}